<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section style="float: left;">
        <% digimons.forEach(val => { %>
            
        <div style="border: 2px solid red; ">
            <form action="/favorite/<%= val.name %>" method="GET">
                <h2> <%= val.name%></h2>
                <img src="<%= val.img %>">
                <p><%= val.level%></p>
                <input type="submit" value="ADD TO FAVORITE">
            </form>
        </div>
        <% }) %>


    </section>
</body>

</html>